<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About this Site</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">ProCode</div>
        <div class="navitems">
            <a href="/" class="navlink">Back to Compiler</a>
        </div>
    </nav>

    <div class="container">
        <h1 class="heading">ProCode-Online Compiler</h1>
        <h1 class="sub-heading">General Intro</h1>
        <p>
            ProCode is an online code compiler. This application currently supports
            Python, JavaScript, C++, C.
        </p>
        <h1 class="sub-heading">Code</h1>
        <p>
            <a href="https://github.com/SwapnilThatte/online-compiler" target="_blank">Github Link of Code</a>
        </p>

        <h1 class="sub-heading">About</h1>
        <p>
            This Website is written in JavaScript. It uses modules like
            File Server (FS) and Child Process
        </p>

        <h1 class="sub-heading">Future Scope</h1>
        <p>
            <p class="future-scope"> 1) Adding Reach Text Editor </p>
            <p class="future-scope"> 2) Adding Support for Markdown </p>
        </p>
    </div>
    
</body>
</html>